<template name="driver_payment_details">
    <div class="row">

        <div class="col-md-8">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Payments Due</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="parentListTable" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Parent Name</th>
                            <th>Month</th>
                            <th>Due Amount</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Deshani Geethika</td>
                            <td>2</td>
                            <td>3540</td>
                        </tr>
                        <tr>
                            <td>Thejani Chathurangika</td>
                            <td>3</td>
                            <td>5698</td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Parent Name</th>
                            <th>Month</th>
                            <th>Due Amount</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-md-8">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Paid Details</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="parentListTable" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Parent Name</th>
                            <th>Month</th>
                            <th>Paid Amount</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Deshani Geethika</td>
                            <td>2</td>
                            <td>2500</td>
                        </tr>
                        <tr>
                            <td>Thejani Chathurangika</td>
                            <td>3</td>
                            <td>3000</td>
                        </tr>
                        <tr>
                            <td>Deshani Geethika</td>
                            <td>2</td>
                            <td>2500</td>
                        </tr>
                        <tr>
                            <td>Thejani Chathurangika</td>
                            <td>3</td>
                            <td>3500</td>
                        </tr>
                        <tr>
                            <td>Thejani Chathurangika</td>
                            <td>1</td>
                            <td>3500</td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Parent Name</th>
                            <th>Month</th>
                            <th>Paid Amount</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</template>