<template name="parent_record">
    <tr id="single_parent_record">
        <td>{{parent.profile.first_name}} {{parent.profile.last_name}}</td>
        <td>{{parent.profile.contact}}</td>
        <td>{{parent.profile.nic}}</td>
        <td>{{parent.emails.[0].address}}</td>
        {{#if isRequestedParent}}
            <td><input id="amount" type="number" min="0"></td>
            <td>
                <button class="Button" name="accept" id="accept">ACCEPT</button>
            </td>
            <td>
                <button class="Button" name="reject" id="reject">REJECT</button>
            </td>
        {{/if}}
        {{#if isAcceptedParent}}
            <td>
                <button class="Button" name="view_payment" id="view_payment">VIEW PAYMENT</button>
            </td>
        {{/if}}
    </tr>
</template>