<template name="driver_record">
    <tr id="single_driver_record">
        <td>{{profile.nic}}</td>
        <td>{{profile.first_name}} {{profile.last_name}}</td>
        <td>{{profile.contact_no}}</td>
        <td>{{emails.[0].address}}</td>
        <td>{{school_service.plate_no}}</td>
        <td>{{school_service.vehicle_type}}</td><td>

        {{#if isUserActive _id}}
            <span class="badge bg-green">ACTIVE</span>
        {{else}}
            <span class="badge bg-red">INACTIVE</span>
        {{/if}}

    </td>
    </tr>
</template>